
body {
    font-family: Segoe UI, Tahoma, Arial;
}

.upload-container {
    width: 95%;
    font-size: 12px;
}

.upload-container2 {
    width: 40%;
    font-size: 12px;
}

.upload-container h2 {
    color: #333;
    font-size: 14px;
    font-weight: 700;
    margin: 12px 0 0 0;
    padding: 0;
    height: 5px;
}


.links {
    cursor: pointer;
    color: #1160b7 !important;
}

.filelink {
    vertical-align: top;
    color: #000000;
    margin: 0;
    padding: 5px 0;
    font-size: 11px;
    font-weight: normal;
}

.attachments:hover {
    background-color: #d7ebf9;
    cursor: pointer;
}

.upload-container p {
    color: #000000;
    margin: 0;
    padding: 5px 0;
    font-size: 12px;
    font-weight: normal;
    word-wrap: break-word;
}

.ui-widget-content .jqgrow .ui-row-ltr {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.timer {
    font-size: 12px;
    color: #777;
}

.file-upload {
    /*border:1px solid #a4c6fd;*/
    background: #ffffff;
    width: 100%;
}

    .file-upload input {
        font-size: 11px;
        line-height: 2em;
        margin: 0;
        padding: 5px;
        width: 100%;
    }

    .file-upload textarea {
        font-size: 11px;
        line-height: 2em;
        margin: 0;
        padding: 5px;
        width: 100%;
        font-family: Segoe UI, Tahoma, Arial;
    }

.transparent {
    background-color: transparent;
    border: 0px solid;
    cursor: pointer;
}

.file-upload input:focus {
    border: 1px solid #a4c6fd;
}

.MainInput input:focus {
    border: 1px solid #a4c6fd;
}

.file-upload h1 {
    border-bottom: 1px dotted #cccccc;
    color: #766e6e;
    font-size: 11px;
    margin: 0 10px;
    padding: 10px 0;
}

.file-attachment {
    background: #f8f8f8;
    margin: 10px 10px 0;
    bottom: 0;
    height: 20px;
    padding: 10px 0;
    font-size: 11px;
    width: 100% !important;
}

.attach-btn {
    background: #fff;
    border: 1px solid #c6c6c6;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}

.file-attachment img {
    float: left;
    padding: 0 10px;
}

.submit-btn:hover {
    background-color: #d7ebf9;
    cursor: pointer;
}

.submit-btn {
    background: #FDFDFD;
    border: 1px solid #c6c6c6;
    text-align: center;
    margin-top: 2px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 0!important;
    text-decoration: none;
    min-width: 60px;
    height: 20px;
    width: auto;
    font-size: 11px;
}

.yj-balloon-arrow-border {
    border-bottom-color: #a4c6fd;
    border-bottom: 7px solid #a4c6fd;
    border-left: 7px dashed transparent;
    border-right: 7px dashed transparent;
    left: 18px;
    top: 1px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
}

.fileuploadelement {
    font-size: 11px;
    margin-left: 10px !important;
}

.ui-jqgrid tr.ui-row-ltr td {
    border-bottom-style: none;
    border-right-style: none;
    height: 40px;
    vertical-align: middle;
    padding-top: 6px;
}

.ui-state-highlight {
    background-color: white !important;
}

    .ui-state-highlight input:focus {
        border: 1px solid #a4c6fd;
    }

.ui-widget-header {
    background: white;
    color: black;
}

.ui-jqgrid {
    border-width: 0px;
}

.ui-state-default {
    border-width: 0px;
}

.deleteicon {
    background-image: url(../img/delete.png);
}

table.EditTable > tbody > tr.FormData > td.DataTD > input[type="text"] {
    width: 95% !important;
}

table.EditTable > tbody > tr.FormData > td.DataTD > select, 
table.EditTable > tbody > tr.FormData > td.DataTD > input, 
table.EditTable > tbody > tr.FormData > td.DataTD > textarea {
    width: 95.8% !important;
}